Package: com.neinzedd9.hidedeletebox
Name: HideDeleteBox
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Makes the app delete box invisible!
Maintainer: NeinZedd9
Author: NeinZedd9
Section: Tweaks
